<a href="https://colab.research.google.com/github/2303A51096/B2_PFDS_1096/blob/main/lab06programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data={
'name':['abhi','neha','raju','seetha'],
'age':[22,np.nan,30,27],
'marks':[85,92,np.nan,95]
}
df=pd.DataFrame(data)
print("original dataframe:")
print(df)
print("\ncheck for mising values:")
print(df.isnull())

original dataframe:
     name   age  marks
0    abhi  22.0   85.0
1    neha   NaN   92.0
2    raju  30.0    NaN
3  seetha  27.0   95.0

check for mising values:
    name    age  marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [3]:
df_dropped=df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropped)

DataFrame after dropping rows with missing values:
     name   age  marks
0    abhi  22.0   85.0
3  seetha  27.0   95.0

In [7]:
df_filled=df.fillna(0)
print("filled with 0:")
print(df_filled)
df['age']
df['age'].fillna(df['age'].mean())
df['marks']
df['marks'].fillna(df['marks'].mean())
print("\nfilled with mean:")
print(df)

filled with 0:
     name   age  marks
0    abhi  22.0   85.0
1    neha   0.0   92.0
2    raju  30.0    0.0
3  seetha  27.0   95.0

filled with mean:
     name   age  marks
0    abhi  22.0   85.0
1    neha   NaN   92.0
2    raju  30.0    NaN
3  seetha  27.0   95.0

In [10]:
df=pd.DataFrame(data)
print("original dataframe with duplicates:")
print(df)
df_no_dup=df.drop_duplicates()
print("\nafter removing duplicates")
print(df_no_dup)

original dataframe with duplicates:
     name   age  marks
0    abhi  22.0   85.0
1    neha   NaN   92.0
2    raju  30.0    NaN
3  seetha  27.0   95.0

after removing duplicates
     name   age  marks
0    abhi  22.0   85.0
1    neha   NaN   92.0
2    raju  30.0    NaN
3  seetha  27.0   95.0

In [12]:
df=pd.DataFrame(data)
print("original dataframe:")
print(df.dtypes)
print("\nAfter Conversion:")
print(df.dtypes)

original dataframe:
name      object
age      float64
marks    float64
dtype: object

After Conversion:
name      object
age      float64
marks    float64
dtype: object

In [14]:
df['marks'] = df['marks'].apply(lambda x: x + 5)
print("After Adding Bonus Marks:")
print(df)

After Adding Bonus Marks:
     name   age  marks
0    abhi  22.0   90.0
1    neha   NaN   97.0
2    raju  30.0    NaN
3  seetha  27.0  100.0

In [16]:
df['Marks_Normalized'] = (df['marks'] - df['marks'].min()) / (df['marks'].max() - df['marks'].min())
print("Normalized Marks:")
print(df)

Normalized Marks:
     name   age  marks  Marks_Normalized
0    abhi  22.0   90.0               0.0
1    neha   NaN   97.0               0.7
2    raju  30.0    NaN               NaN
3  seetha  27.0  100.0               1.0