<a href="https://colab.research.google.com/github/2303A51096/B2_PFDS_1096/blob/main/laB05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])
print("Matrix multiplication:",np.dot(a,b))
print("Transpose:\n",a.T)
print("Inverse:\n",np.linalg.inv(a))
print("Determinant:",np.linalg.det(a))

Matrix multiplication: [[19 22]
 [43 50]]
Transpose:
 [[1 3]
 [2 4]]
Inverse:
 [[-2.   1. ]
 [ 1.5 -0.5]]
Determinant: -2.0000000000000004

In [2]:
marks=np.array([[85,90,88],[78,81,85],[92,89,95]])
print("Average marks per student",np.mean(marks,axis=1))#row
print("Average marks per subject",np.mean(marks,axis=0))#column
print("Highest marks in each subject",np.max(marks,axis=0))
print("lowest marks in each subject",np.min(marks,axis=0))

Average marks per student [87.66666667 81.33333333 92.        ]
Average marks per subject [85.         86.66666667 89.33333333]
Highest marks in each subject [92 90 95]
lowest marks in each subject [78 81 85]

In [5]:
import pandas as pd
b=[10,20,40,50]
a=pd.Series(b)
print("pandas series:")
print(a)

pandas series:
0    10
1    20
2    40
3    50
dtype: int64

In [7]:
import pandas as pd
b=[10,20,30,44,55]
index=['a','b','c','d','e']
c=pd.Series(b,index)
print(c)

a    10
b    20
c    30
d    44
e    55
dtype: int64

In [13]:
import pandas as pd
data={'name':['jay','seetha','rama'],'age':[22,19,33],'city':['hyd','wgl','hnk']}
df=pd.DataFrame(data)
print(df)
print(df['name'])
print(df[['name','city']]) # Corrected: use a list to select multiple columns
df['pincode']=[506001,501133,344440]
print(df)
df=df.drop('city',axis=1) # Corrected: axis should be 1 for columns
print(df)
print(df.iloc[1])
print(df.loc[2])
print(df[df['age']>20])
print(df['age'].mean())
print(df['age'].max())
print(df['age'].min())

     name  age city
0     jay   22  hyd
1  seetha   19  wgl
2    rama   33  hnk
0       jay
1    seetha
2      rama
Name: name, dtype: object
     name city
0     jay  hyd
1  seetha  wgl
2    rama  hnk
     name  age city  pincode
0     jay   22  hyd   506001
1  seetha   19  wgl   501133
2    rama   33  hnk   344440
     name  age  pincode
0     jay   22   506001
1  seetha   19   501133
2    rama   33   344440
name       seetha
age            19
pincode    501133
Name: 1, dtype: object
name         rama
age            33
pincode    344440
Name: 2, dtype: object
   name  age  pincode
0   jay   22   506001
2  rama   33   344440
24.666666666666668
33
19

In [15]:
import pandas as pd
stu_data={'student_id':[11,12,13,14],'name':['anoop','abhi','sita', None],'marks':[66,75,89, None],'dept':['cse','ece','cse', None]}
df=pd.DataFrame(stu_data)
print("student data:")
print(df)

student data:
   student_id   name  marks  dept
0          11  anoop   66.0   cse
1          12   abhi   75.0   ece
2          13   sita   89.0   cse
3          14   None    NaN  None

In [42]:
import pandas as pd

stu_data={'S.name':['a','b','c'],'student_roll':[11,12,13,],'m1':[66,75,89],'m2':[66,75,89],'m3':[66,75,89],'total':['2','22','33'],'avg':['4','77','55'],'result':['5','62','43']}


df=pd.DataFrame(stu_data).set_index('S.name')

print("student data:")
print(df)

student data:
        student_roll  m1  m2  m3 total avg result
S.name
a                 11  66  66  66     2   4      5
b                 12  75  75  75    22  77     62
c                 13  89  89  89    33  55     43